body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

row{
  display: flex;
}

.title{
  text-align: center; 
  background-color: #03dbfc; 
  color: white; 
  margin-bottom: 0px; 
  font-size: 80px
}

.nav{
  height: 50px;
  width: 140px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-right: 150px;
  background-color: #03dbfc;
  border-width: 0px;
  border-style: solid;
  border-color: white;
  cursor: pointer;
}

.nav:hover{
  border-bottom-width: 10px;
  transition: .5s;
}

.logout{
  height: 60px; 
  width: 200px; 
  margin-right: 20px; 
  background-color: #03dbfc; 
  font-size:30px; 
  font-weight: bold;
  color: white; 
  margin-top: 5px;
  border-radius: 7px;
  border-style: solid;
  border-color: white;
  border-width: 0px;
  cursor: pointer;
}

button.logout:active{
  height: 55px;
  width: 190px;
  border-color: white;
  transition: 1s;
}

button.logout:hover{
  background-color: white;
  color: #03dbfc;
  transition: .5s;
  cursor: pointer;
}
.navbar{
  display: flex;
  margin: auto;
  background-color: #03dbfc;
  margin-bottom: "0px"
}

.makeapp{
  height: 50px;
  width: 200px;
  font-size: 20px;
  color: white;
  background-color: rgb(255, 47, 193);
  border-width: 0px;
  cursor: pointer;
}

button.makeapp:active{
  border-width: 18px;
  transition: 1s;
}

button.makeapp:hover{
  background-color: rgb(206, 47, 255);
  transition: .5s;
}

.helpbtn{
  background-color: #03dbfc;
  border-width: 0px; 
  margin-right: 300px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.helpbtn:hover{
  height: 60px;
  width: 60px;

}

.helpimg{
  height: 50px; 
  width: 50px;
}

.helpimg:hover{
  height: 60px;
  width: 60px;
}

.help{
  position: relative;
  display: inline-block;
}

.help_content{
  display: none;
  position: absolute;
  background-color: black;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.showhelp{
  display: block;
}